<style type="text/css">
       


        
        div>a
        {
        	text-decoration: none;

        }
         .row1
        {
        	margin-right: 50%;
        	border-style: groove;
                background-image: url('bf1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
        }

        .row2
        {
        	margin-left: 50%;
        	margin-top: -31.30%;
        	border-style: groove;
                background-image: url('bf1.jpg');
                background-size: cover;
                background-repeat: no-repeat;

        }
        
		</style>