<style type="text/css">
       


        
        div>a
        {
        	text-decoration: none;

        }
         .row1
        {
        	margin-right: 50%;
        	border-style: groove;
        }

        .row2
        {
        	margin-left: 50%;
        	margin-top: -20%;
        }
        
		</style>